.filme-info{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;    
}

.filme-info h1{
    margin: 14px 0;
}

.filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin:  8px 0;
}

.area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    color: rgb(97, 166, 255);
}

.area-buttons button:hover{
    background-color: rgb(170, 102, 248);
    color: rgb(255, 255, 255);
}

.area-buttons a{
    text-decoration: none;
    color: rgb(97, 166, 255);   
    transition: all 0.5s;
}

.area-buttons a:hover{
    color: rgb(255, 255, 255);
}